<section class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        {{ chore.chore.name }}
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Description</h4>
                            <p>
                                {{ chore.chore.description }}
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <h4>Assigned To</h4>
                            <p>
                                {{ chore.chore.user.name }}
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <h4>Frequency</h4>
                            <p>
                                {{ chore.chore.frequency }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a ng-href="/">Back</a>
                </div>
            </div>
        </div>
    </div>
</section>
