<section class="container">
    <div class="row">
        <section class="col-sm-12">
            <a id="btn-google_sign_in" class="center-block cursor-btn" ng-click="login.login();"></a>
            <a ng-href="/">Back</a>
        </section>
    </div>
</section>
