<section class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <form ng-submit="newChore.addChore();">
                <div class="form-group">
                    <label for="chore">Chore</label>
                    <input type="text" name="chore" value="" ng-model="newChore.name" class="form-control" placeholder="Dishes, vaccuum, etc..." />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" value="" ng-model="newChore.description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="frequency">Frequency</label>
                    <select name="frequency" ng-model="newChore.frequency" class="form-control">
                        <option ng-repeat="frequency in newChore.frequencies">{{ frequency.$value }}</option>
                    </select>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Add Chore</button>
                </div>
            </form>
            <div class="pull-left">
                <a ng-href="/">Back</a>
            </div>
        </div>
    </div>
</section>
