<section class="container">
    <div class="row">
        <section class="col-md-4 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Available Chores</h3>
                </div>
                <div class="panel-body">
                    <div ng-repeat="chore in organizer.availableChores" class="panel panel-default">
                        <div class="panel-body">
                            <a ng-href="/chore/{{ chore.$id }}">{{ chore.name }}</a>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <span ng-repeat="user in organizer.users"> <!-- Preserves gaps in bootstrap labels -->
                                            <span ng-click="organizer.assign(chore, user.$id)" class="label label-primary cursor-btn">{{ user.name }}</span>
                                        </span>
                                        <span ng-click="organizer.delete(chore)" class="label label-danger cursor-btn">DELETE</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/newchore" class="btn btn-primary btn-sm pull-right">New Chore</a>
                </div>
            </div>
        </section>
        <section class="col-md-4 col-sm-12" ng-repeat="user in organizer.users">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.name }}'s Chores</h3>
                </div>
                <div class="panel-body">
                    <div ng-repeat="chore in user.chores" class="panel panel-default">
                        <div class="panel-body">
                            <a ng-href="/chore/{{ chore.$id }}">{{ chore.name }}</a>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <span ng-click="organizer.assign(chore)" class="label label-primary cursor-btn">X</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
