.cursor-btn {
    cursor: pointer;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#btn-google_sign_in {
 margin-bottom: 10px;
 width: 191px;
 height: 46px;
 display:block;
 background:transparent url('./images/btn_google_signin_dark_normal_web.png') center top no-repeat;
}

#btn-google_sign_in:hover {
   background-image: url('./images/btn_google_signin_dark_focus_web.png');
}

#btn-google_sign_in:active {
   background-image: url('./images/btn_google_signin_dark_pressed_web.png');
}
